@using System.Globalization;

<hr />
<h2>Hours worked</h2>
<table class="table">
    <thead>
        <tr>
            <td>Month</td>
            <td>Hours worked</td>
        </tr>
    </thead>
    @for (int i = 1; i <= 12; i++)
    {
        <tr>
            <td>@CultureInfo.CurrentCulture.DateTimeFormat.GetMonthName(i)</td>
            <td></td>
        </tr>
    }
</table>
