@{
    ViewData["Title"] = "Index";
}

<h2>Feedback</h2>

<p>Fill in this form if you have any feedback or found any bugs.</p>

@using (Html.BeginForm())
{
    <p>Title</p>
    <input type="text" name="Title" />
    <p>Feedback</p>
    <input type="text" name="Comment"/>
    <input type="submit" />
}