@{
    ViewData["Title"] = "Index";
}

<h2>Feedback</h2>

<p>Fill in this form if you have any feedback or found any bugs.</p>

@using (Html.BeginForm())
{
    <form action="FeedbackController" method="POST">
    <p>Title</p>
    <input type="text" name="Title" />
    <p>Feedback</p>
    <textarea type="text" name="Comment"/>
    <p></p>
    <input type="submit" value="Submit" class="btn btn-primary">
    </form>
}
