@{
    ViewData["Title"] = "Roster";
}
<style>
    .selected_Roster {
        font-weight: bold;
        color: black;
    }
</style>
<h1>Roster</h1>

<h2>Index</h2>
<partial name="/Views/Shared/_Schedule.cshtml" />

<partial name="/Views/Shared/_WorkOverview.cshtml" />
