@model Dictionary<int, Dictionary<int, List<EmployeeModel>>>
@inject ApplicationDbContext _context

@{
    ViewData["Title"] = "Generated";
}

<h1>Generated</h1>
<form asp-action="Generated">
	<table class="w-100 align-top">
		<thead>
			<td>
				Shift
			</td>
			<td>
				Function
			</td>
		</thead>
		@foreach (int shiftID in Model.Keys)
		{
			Shift shift = _context.Shift.ToList().Find(x => x.ShiftID == shiftID);

			<tr>
				<td class="align-top">
					<strong>@($"shift from {shift.Start} to {shift.End}")</strong>
				</td>
				<td>
					<table class="w-100">
						@foreach (int functionID in Model[shiftID].Keys)
						{

							Function function = _context.Function.ToList().Find(x => x.FunctionID == functionID);
							<tr>
								<td class="w-50">
									@function.Name
								</td>
								<td>

									<table>
										@foreach (EmployeeModel employee in Model[shiftID][functionID])
										{
											<tr>
												<td>
													<input type="checkbox" name="selected" checked="checked" value="@($"{shiftID}, {functionID}, {employee.ID}")" />
													@(employee.Name + ' ' + employee.LastName)
												</td>
											</tr>
										}
									</table>
								</td>
							</tr>
						}
					</table>
				</td>
			</tr>

				}
		</table>
	<input type="submit" value="Confirm" />
</form>