table.GeneratedTable {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
    color: #000000;
}

    table.GeneratedTable td, table.GeneratedTable th {
        border-width: 2px;
        border-color: lightgray;
        border-style: solid;
        padding: 3px;
    }

    table.GeneratedTable thead {
        background-color: lightgray;
        text-align: center;
    }

    table.GeneratedTable col {
        width: 14.29%;
    }

    table.GeneratedTable td {
        height: 75px;
        padding-top: 0px;
        padding-bottom: 0px;
        vertical-align: top;
    }

#table-wrapper {
    position: relative;
}

#table-scroll {
    height: 600px;
    overflow: auto;
    margin-top: 20px;
}

#table-wrapper table {
    width: 100%;
}


    #table-wrapper table thead th .text {
        position: absolute;
        top: -20px;
        z-index: 2;
        height: 20px;
        width: 35%;
        border: 1px solid red;
    }
