table {
    width: 100%;
    background-color: #ffffff;
    border-collapse: collapse;
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
    color: #000000;
}

td, th {
    border-width: 2px;
    border-color: lightgray;
    border-style: solid;
    padding: 3px;
}

thead {
    background-color: lightgray;
    text-align: center;
}

col {
    width: 14.29%;
}

td {
    height: 75px;
    padding-top: 0px;
    padding-bottom: 0px;
    vertical-align: top;
}

table tbody, table thead {
    display: block;
}
table tbody {
    overflow: auto;
    height: 500px;
}

th {
    width: 155px;
}

td {
    width: 155px;
}